<div class="container campaign-container">
        <div class="row">
          <div class="col-sm-2">
            <img src="../images/drpepperlogo.png"><br>
            By: <strong><%= spotName._creator.username %></strong>
          </div>
          <div class="col-sm-10">
            <h1><%= spotName.spotName %></h1>
            <p class="campaign-description"><%= spotName.address %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <img class="campaign-image" src="<%= spotName.image %>">
          </div>
        </div>
      </div>