<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrPepperTime</title>
    <!-- <link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  </script>
  </head>
  <body>
     <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=432203590545724&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>



<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">The DP Experience</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
    <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search" method="get" action="/locations/search">
        <div class="input-group"> 
            <input type="text" class="form-control" placeholder="Search by City" name="locationSearchTerm" id="search-term-input">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>      
        </form>
    </div>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form action="/logout" method="POST">
            <button class="btn btn-link btn-logout" type="submit">Logout</button>
        </form>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fabulous Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><button type="button" class="btn btn-link"><a href="/locations/new">Create a location</a></button></li>>
          <li><a href="https://drpeppermuseum.com/" target="_blank">The Museum</a></li>
          <li><a href="https://www.nbcdfw.com/the-scene/food-drink/Dr-Pepper-Secrets-Revealed-106784298.html" target="_blank">DP Secret</a></li>
          <li><a href="https://www.quora.com/Is-Dr-Pepper-considered-to-be-a-type-of-cola-or-root-beer" target="_blank">Not A Cola</a></li>
          <li class="divider"></li>
          <li><a href="https://www.youtube.com/watch?v=-KG912GXSaI" target="_blank">Healthy Living</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- <div class="container-fluid">
    <nav class ="navbar"> -->
        
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->
            <!-- collapse navbar-collapse -->
        <!-- <div class="collapse navbar-collapse" id="home-nav">
          <div class="row">
            <div class="col-sm-4">
                <ul class="nav navbar-nav">
                    <li><button type="button" class="btn btn-link"><a href="/locations/new">Create a location</a></button></li>
                    <li class="nav-logo">
                        <a href="/" class="nav-logo-link">
                            <h1>THE DP EXERIENCE</h1>
                        </a>
                    </li>
                </ul>
            </div>
                <ul class="nav navbar-nav  ">
                    
                    <li><button><a href="/login">Login</a></button></li>
                    <li><button><a href="/signup">Signup</a></button></li>
                    <li>
                        <form action="/logout" method="POST">
                            <button class="btn btn-link btn-logout" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
      </div> -->
    <div class="main-container">
      <%- body -%>
    </div>
    <!-- <script type="text/javascript" src="../javascripts/maps.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>



